<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="watcher.js"></script>
    <title>Document</title>
</head>
<body ng-app="app">
    <div ng-controller="emp">
        <!-- a = <input ng-model="a" ng-change="updateC()">
        b = <input ng-model="b" ng-change="updateC()">
        <div>c = {{c}}</div> -->
        <!-- <div ng-repeat="o in emps">
            <div>
                {{o.empno}} - {{o.ename}}
            </div>
        </div>
        <button></button> -->
        a = <input ng-model="a">
        <div>a = {{a}}</div>
        b = <input ng-model="b">
        <div>b = {{b}}</div>
        <br>
        <button ng-click="calcSum()">Calc Sum</button>
        <button onclick="btnSum()">Sum</button>
        <div>s = {{s}}</div>
    </div>
</body>
</html>
